<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>일기장 수정</title>
</head>
<form action="{% url '업데이트' diary.id %}" method="post">
    {%csrf_token%}
    <p>제목 <input type="text" name="title" value = "{{diary.title}}"></p>
    <textarea name="body" id="" cols="30" rows="10" >{{diary.body}}</textarea>
    <button type="submit">작성하기</button>
    <br>
    <a href = "{% url '상세' diary.id %}">취소</a>
</form>
</html>